{% extends '../base.html' %}
{% load static %}
{% block title %} Change Password {% endblock title %}

{% block content %}

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row"  >
            <div class="col-lg-8">
                <div class="page-breadcrumb">
                    <h3>Change your password</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="contact-form" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% if messages %}
                        <div class="col-lg-12 py-2">
                         {% include '../alert-msg.html' %}
                        </div>
                        {% endif %}
                        <div class="col-lg-12 py-2">
                            {{form.current_password}}
                            {{form.current_password.errors}}
                        </div>
                        <div class="col-lg-12 py-2">
                            {{form.new_password1}}
                            {{form.new_password1.errors}}
                        </div>
                        <div class="col-lg-12 py-2">
                            {{form.new_password2}}
                            {{form.new_password2.errors}}
                        </div>
                        <div class="col-lg-12 text-right">
                            <button class="btn-block" type="submit">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}