{% extends '../base.html' %}
{% load static %}
{% block title %} Confirm your password Reset {% endblock title %}

{% block content %}

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row"  >
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <h3>Reset your password</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if validlink %}
                <form class="contact-form" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% if messages %}
                        <div class="col-lg-12 py-2">
                         {% include '../alert-msg.html' %}
                        </div>
                        {% endif %}
                        <div class="col-lg-12 py-2">
                            <input name="new_password1" type="password" placeholder="Enter your new password">
                            {{form.new_password1.errors}}
                        </div> 
                        <div class="col-lg-12 py-2">
                            <input name="new_password2" type="password" placeholder="Confirm password">
                            {{form.new_password2.errors}}
                        </div> 
                        <div class="col-lg-12 text-right">
                            <button class="btn-block" type="submit">Reset password</button>
                        </div>
                    </div>
                </form>
                {% else %}
                <h4>
                    Opps...You've already used this link before🙂
                </h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

