{% extends '../base.html' %}
{% load static %}
{% block title %} Confirm your password Reset {% endblock title %}

{% block content %}

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row"  >
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <h3>Reset your password through Email</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="contact-form" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% if messages %}
                        <div class="col-lg-12 py-2">
                         {% include '../alert-msg.html' %}
                        </div>
                        {% endif %}
                        <div class="col-lg-12 py-2">
                            <input name="email" type="email" placeholder="Enter your email">
                            {{form.email.errors}}
                        </div> 
                        <div class="col-lg-12 text-right">
                            <button class="btn-block" type="submit">Get email</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

