{% extends '../base.html' %}
{% load static %}
{% block title %} Password Reset Done {% endblock title %}

{% block content %}

<section class="page-add">
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-md-12">
                <h4 class="text-monospace text-muted mb-4">Password Reset link sent</h4>
                <hr>
            </div>
            <div class="col-md-12">
                <p class="lead text-dark">
                    We have received your request to reset your password. A password reset link has been sent to your
                    email address. Please check your inbox and follow the instructions to reset your password. If you
                    need further assistance, feel free to contact our support team.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}