{% extends '../base.html' %}
{% load static %}
{% block title %} {{category.title|title}} {% endblock title %}
{% block content %}

{% if products.count > 0 %}
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h3>{{category.title|title}} ({{products.count}})</h3>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- Page Add Section End -->

<!-- Categories Page Section Begin -->
<section class="categories-page spad">
    <div class="container">
        {% if products.count > 0 %}
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <a href="{% url 'product-details' product.slug %}">
                        <figure>
                            <img style="height: 300px;" src="{% if product.image %}{{ product.image.url }}{% elif product.thumbnail %}{{ product.thumbnail }}{% else %}{% static 'Me.jpeg' %}{% endif %}" alt="{{ product.title }}">
                        </figure>
                    </a>
                    <div class="product-text">
                        <a href="{% url 'product-details' product.slug %}">
                            <h6>{{product.title|title}}</h6>
                        </a>
                        <p>{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        {% include '../no-result.html' %}
        {% endif %}
    </div>
</section>
{% endblock content %}