{% extends '../base.html' %}
{% load static %}
{% block title %} Product List {% endblock title %}
{% block content %}


<section class="page-add">
    <div class="container">
        <div class="categories-controls">
            <div class="row">  
                <div class="col-lg-12">
                    <div class="categories-filter">
                        <h1>All Products</h1>
                        <div class="cf-right">
                            <span>{{paginator.count}} Products</span>
                            {% include '../pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Page Add Section End -->

<!-- Categories Page Section Begin -->
<section class="categories-page spad">
    <div class="container">
        <div class="row">
            {% for product in object_list %}
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <a href="{% url 'product-details' product.slug %}">
                    <figure>
                        <img style="height: 300px;" src="{% if product.image %}{{ product.image.url }}{% elif product.thumbnail %}{{ product.thumbnail }}{% else %}{% static 'Me.jpeg' %}{% endif %}" alt="{{ product.title }}">
                    </figure>
                    </a>
                    <div class="product-text">
                        <a href="{% url 'product-details' product.slug %}">
                            <h6>{{product.title|title}}</h6>
                        </a>
                        <p>{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}