{% load static %}
<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
            <div class="logo">
                <a href="{% url 'home' %}"><img style="height: 50px; width: 200px" src="{% static 'img/logo.png' %}" alt=""></a>
            </div>
            <div class="header-right">
                <img src="{% static 'img/icons/search.png' %}" alt="" class="search-trigger">
                <!-- <img src="{% static 'img/icons/man.png' %}" alt=""> -->
                <a href="{% url 'cart' %}">
                    <img src="{% static 'img/icons/bag.png' %}" alt="">
                    <span>{{cart|length}}</span>
                </a>
            </div>
            {% if not request.user.is_authenticated %}
            <div class="user-access">
                <a href="{% url 'login' %}">Register/Sign in</a>
            </div>
            {% endif %}
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a class="" href="{% url 'home' %}">Home</a></li>
                    <li><a class="" href="{% url 'product-list' %}">Products</a></li>
                    <li><a href="#">Categories</a>
                        <ul class="sub-menu">
                            {% for category in categories %}
                            <li><a href="{% url 'category-details' category.slug %}">{{category.title|title}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="#">
                            <img style="height: 25px; width: 25px;" src="{% static 'img/icons/person.png' %}" alt="">
                        </a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            <li><a href="{% url 'orders' %}">Orders</a></li>
                            <li><a href="{% url 'change_password' %}">Change Password</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>